<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>
<div class="card text-bg-primary mb-3">
    <div class="card-header">CLientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
    </div>
</div>
<!-- boton para agregar cliente -->


<div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_ADMIN')"  type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Cliente</button>
</div>
<div *ngIf="clientes?.length == 0">
    <h1>No hay Clientes en la base de datos</h1>
</div>

<table class="table table-bordered" *ngIf="clientes?.length! > 0 ">
    <thead>
        <tr>
            <!--  *ngIf="authService.hasRole('ROLE_USER')"  -->
            <th>#</th>
            <th>Nombre
            </th>
            <th>Apellido
            </th>
            <th>Email
            </th>
            <th>Fecha
            </th>
            <th>Crear Factura</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')" >Editar</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let cliente of clientes">
                        <!--  *ngIf="authService.hasRole('ROLE_USER')"  -->
            <th>

                <!-- Button trigger modal -->

                <img style="width: 64px; cursor: pointer;" (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
                    src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
                    class="img-thumbnail rounded">

                <img style="width: 64px; cursor: pointer;" (click)="abrirModal(cliente)" *ngIf="!cliente?.foto"
                    src="http://localhost:8080/images/no-usuario.png" alt="{{cliente.foto}}"
                    class="img-thumbnail rounded">

            </th>
            <th>{{cliente.nombre | uppercase}}</th>
            <th>{{cliente.apellido}}</th>
            <th>{{cliente.email}}</th>
            <th>{{cliente.createAt | date:"EEEE dd, MMMM, yyyy" | titlecase}}</th>


            <th *ngIf="authService.hasRole('ROLE_ADMIN')" >
                <button name="editar" type="button" [routerLink]="['/clientes/form', cliente.id]"
                    class="btn btn-primary">Editar</button>
            </th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                <button name="eliminar" type="button" (click)="delete(cliente)"
                    class="btn btn-primary">Eliminar</button>
            </th>

            
            <th>
                <button name="crear-factura" type="button" [routerLink]="['/facturas/form', cliente.id]" class="btn btn-success">
                    Crear Factura
                </button>
            </th>
        </tr>


    </tbody>
</table>

<!-- hijo input  - atributo padre, per odebe haberse creado antes -->
<paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>