<div class="card bg-light">


    <div class="card-header">
        {{titulo}}: {{factura.descripcion}}
    </div>

    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/clientes']" class="btn btn-primary btn-xs"> &laquo; Volver</a>
        </h4>


        <form #facturaForm="ngForm">


            <!-- Mostrar el cliente asociado  -->
            <div class="form-group row" *ngIf="factura.cliente">
                <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-6">
                    <input type="text" name="cliente" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}"
                        class="form-control" disabled>
                </div>
            </div>


            <!-- input -->
            <div class="form-group row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" name="descripcion" class="form-control" [(ngModel)]="factura.descripcion" required #descripcion="ngModel">
               <div class="alert alert-danger" *ngIf="descripcion.invalid && descripcion.touched || facturaForm.submitted">
                    Debe ingresar una descripción
               </div>
               
                </div>
            </div>

            <!-- input -->
            <div class="form-group row">
                <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control" name="observacion"
                        [(ngModel)]="factura.observacion"></textarea>
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Añadir producto</mat-label>
                        <input type="text" placeholder="Añadir Producto" aria-label="Productos" matInput [formControl]="autoCompleteControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
                            <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                                {{producto.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="alert alert-danger" *ngIf="autoCompleteControl.invalid || facturaForm.submitted">
                        Debe ingresar un Producto
                   </div>
                </div>
            </div>

            <!-- tabla de items  -->
            <div class="alert alert-info my-4" *ngIf="factura.items.length == 0">
                No hay Items asignados para {{factura.cliente?.nombre | titlecase}} {{factura.cliente?.apellido | titlecase}}, agrega una porfavor ♥
            </div>

            <table *ngIf="factura.items.length > 0" class="table table-striped tablle-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>
                            Eliminar
                        </th>
                   
                    </tr>
                </thead>

                <tbody>
                    <tr  *ngFor="let item of factura.items">
                        <td>{{item.producto?.nombre}}</td>
                        <td>{{item.producto?.precio}}</td>
                        <td>
                            <input (change)="actualizarCantidad(item.producto?.id!, $event)" type="number" [value]="item.cantidad" class="form-control col-sm-4">
                        </td>
                        <td>{{item.calcularImporte()}}</td>

                        <th>
                            <button type="button" class="btn btn-danger btn-sm" (click)="eliminarItem(item.producto?.id!)"> x </button>
                        </th>

                    </tr>
                </tbody>
            </table>

            <h5 class="float-end">
                Gran Total <span class="badge bg-secondary">{{factura.calcularGranTotal()}}</span>
            </h5>

            <!-- input -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <input (click)="create(facturaForm)" type="submit" value=" Crear Factura " class="btn btn-primary">
                </div>
            </div>


        </form>



    </div>
</div>